<%= form_for @user, url: login_path(@user) do |f| %>
  <table id="log_in_table">
    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name, value: 'hi' %></td>
    </tr>
    <tr>
      <td><%= f.label :password %></td>
      <td><%= f.password_field :password, value: 'hi' %></td>
    </tr>
    <tr>
      <td><%= f.submit 'Submit' %></td>
    </tr>
  </table>
<% end %>
