
<%= comment.body %> <span id="comment_details"><%= comment.user.name.titleize %> at <%= comment.created_at.to_formatted_s(:short) %> </span><br>

<ul class="replies" id="<%= comment.id %>">
  <% comment.replies.each do |r| %>
    <%= render partial: 'replies/reply_handlebar', locals: { r: r } %>
  <% end %>
</ul>

<!-- <a href='/comments/new' class="new_comment">Show Reply (not hidden yet)</a> -->

<ul class='replies' id='<%=comment.id%>'>
  <!-- renders reply form for newly built reply -->
  <%= render partial: 'replies/reply_form', locals: { reply: comment.replies.build }%>
</ul>
