<%= comment.body %> <br>

<ul class="replies" id="<%= comment.id %>">
  <% comment.replies.each do |r| %>
    <li class="reply" id="<%=r.id%>">
      <%= r.body %>
    </li>
  <% end %>
</ul>

<a href='/comments/new' class="new_comment">Show Reply (not hidden yet)</a>

<ul class='replies' id='<%=comment.id%>'>

</ul>
