<%= form_for( post, remote: true ) do |f| %>
<br>
  <div class="form_post_title">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
<br>
  <div class="form_post_body">
    <%= f.label :body %>
    <%= f.text_area :body, cols: "30", rows: "10" %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <br>
  <%= f.submit %>
<% end %>
