
  <%= paginate @posts %>
  <br><br>
  <% if current_user %>
    <%= link_to 'New Post', new_post_path, id: "new_post_link" %>
  <% end %>
  <h3>Posts:</h3>

  <ul class="posts_index">
    <% @posts.each do |post| %>

      <li class="post">
        <%= render partial: 'index_show', locals: { post: post } %>
      </li>
    <% end %>
  </ul>
  <%= page_entries_info @posts %>

<%= render 'index_js' %>
