<a href="/posts/<%= @post.id %>/edit" class="edit_post">Edit</a>
<a href="/posts">Index</a>

<%= render partial: 'posts/show', locals: { post: @post } %>

<h3>Comment</h3>
<%= render partial: 'comments/form', locals: { comment: @comment }%>

<h3>Comments:</h3>
<ul class="comment_list">

  <!-- only loops through the comments that are not replies -->
  <% @post.comments.where('body != "" AND comment_id is NULL').each do |comment| %>
    <li class="comment">
      <%= render partial: 'comments/comment', locals: { comment: comment } %>
    </li>
  <% end %>
</ul>

<%= render 'show_js' %>
