<div class="container-fluid">

  <% if !current_user %>
    <%= link_to 'Log-in', login_path, id:'log_in' %>
    <%= link_to 'Lon-in FB', facebook_login_path, id:'fb_log_in'%>
    <%= link_to 'Log-in Google', google_login_path, id: 'google_log_in'%>
    <%= link_to 'Twitter', '/auth/twitter', id: 'google_log_in' %>
  <% end %>
  <% if current_user %>
    <%= link_to 'Log-out', logout_path, id:'log_out' %>
    <div id='login_greeting'>Hello <%= current_user.name %>! You are logged in via <%= current_user.provider %></div>
  <% end %>

  <% flash.each do |name, message| %>
    <div id="flashnotice"><%=message.capitalize%></div>
  <% end %>

</div> <!-- container-fluid -->
