<!DOCTYPE html>
<html>
<head>
  <title>JSBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "header" %>
  <div class="shadow">
  </div>

  <div id="new_post_form"></div>
  <div class="container">
    <%= yield %>
  </div>


</body>
</html>
